{% load static %}
<!DOCTYPE html>
<html>
<title>Contact</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/astyle.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<body>
<div class= "header">
<div class="team-section">
<h1>Contact Details of Developers</h1>
<span class="border"></span>
<span class="title">Click on the images of Developers for details:</span>
<br></br>
<div class="ps">
<a href="#p1"><img src="{% static 'image/M4.jpg' %}" alt="AS"></a>
<a href="#p2"><img src="{% static 'image/MH2.jpg' %}" alt="HS"></a>
</div>


<div class="section" id="p1">
<a href="#p1"></a>
<span class="name">Akash Singh</span>
<span class="border"></span>
<p style align="center">
<br>Phone: +91 9665247226</br>
<br>M@il ID:anurag.r.singh1234@gmail.com</br>
</p>
</div>



<div class="section" id="p2">
<span class="name">Harsh Singh</span>
<span class="border"></span>
<p style align="center">
<br>Phone: +91 8390313364</br>
<br>M@il ID:harshsatishsingh1174@gmail.com</br>
</p>
</div>
</p>
</div>
</div>
</body>


 <html>
