{% extends "base.html" %}
{% block content %}
<div class="container display-4 text-center">
    <form method="post" onsubmit="return check()" action="\prediction">
        {% csrf_token %}
    <h1 style="color: white;">Select the year :<span>
    <select class="drop" name="drop" id="drop">
        <option>select</option>
        <option>2020</option>
        <option>2030</option>
    </select></span></h1>
    <p id="msg" style="font-size: 25px ;color : red;font-weight:bold"></p>
    <input type="submit" value="Confirm" class="mybtn " style="margin: 0;padding:10px">
    </form>
</div>
</section>
<h1 style="text-align: center">Entered year is</h1>
{{values}}
<script>

    function check(){
    var a = document.getElementById('drop').value;
    if(a ==='select')
    {
        document.getElementById('msg').innerHTML = "**Please select a year**"
        return false
}
}
</script>
{% endblock content%}