{% extends "base.html" %}
{% block content %}
<div class="question"><h1>Welcome to Mumbai Water demand<br> Prediction Portal.</h1></div>
<main>
<div class="left_side question">
    <h1>What do you want?<br><span class="change_content"></span></h1>
    <h2>CHOOSE WISELY !</h2>
</div>
<div class="right_side">
    <form method="post" onsubmit="return check()" action="\prediction">
        {% csrf_token %}
    Select the year :
    <select class="drop" name="drop" id="drop">
        <option>select</option>
    </select><br>
    <p id="msg" style="font-size: 25px ;color : red"></p>
    <input type="submit" value="Confirm" class="mybtn">
    </form>
</div>
</main>
</section>
<script>

    function check(){
    var a = document.getElementById('drop').value;
    if(a ==='select')
    {
        document.getElementById('msg').innerHTML = "**Please select a year**"
        return false
}
}
</script>
<script>
    var i = 1;
    var d = new Date();
    year = d.getFullYear();
    var sel = document.getElementById('drop');
    while(i<=20)
    {   var opt = document.createElement('option');
        opt.appendChild(document.createTextNode(year+i))
        opt.value=year+i;
        sel.appendChild(opt);
        i++;
    }
</script>
{% endblock content%}