{% extends 'base.html' %}
{% load static %}

{% block title%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/rstyle.css' %}">
{% endblock %}

{% block content %}
<div class="main_refernce">
<h1>The list of Referred documents :</h1>


 <ul>
 
 <li> <a target="blank" href="http://nwda.gov.in/upload/uploadfiles/files/8644345040.pdf">
 NWDA.org Website Article on Mumbai Domestic Water Supply Report.
 </a>
   </li>
 
 <li> <a target="blank" href="http://www.mumbaidp24seven.in/reference/Mumbai_Water_supply(Review_Report).pdf">  
  Mumbai 24 Seven Research by Tata School of Social Studies.</li>
 </a>
   </li>
 
 <li> <a target="blank" href="http://citizenmatters.in/can-water-metering-help-indian-cities-avoid-doomsday-13754"> 
 Metered an Non metered water a report by Hindustan Times.
 </a>
   </li>
 
 <li> <a target="blank" href="http://censusindia.gov.in/2011census/dchb/2722_PART_B_DCHB_%20MUMBAI%20(SUBURBAN).pdf"> 
 Census report of Mumbai Suburban (Eastern & Western) by Govt. Of India
 </a>
   </li>
   
   <li> <a target="blank" href="http://censusindia.gov.in/2011census/dchb/2723_PART_B_DCHB_%20MUMBAI.pdf"> 
 Census Report of Mumbai (Island city) by Govt. of India
 </a>
   </li>
   
   <li> <a target="blank" href="https://www.hindustantimes.com/mumbai-news/mumbai-to-need-71-more-water-by-2041-bmc-study/story-NS3k4KIB5CTZX3CwPUWDYL.html"> 
 BMC Study Article.
 </a>
   </li>
   
   <li> <a target="blank" href="https://en.wikipedia.org/wiki/Administrative_divisions_of_Mumbai"> 
 Ward-Wise Administrative divisions of Mumbai.
 </a>
   </li>
   
    <li> <a link href="http://www.nzdl.org/gsdlmod?e=d-00000-00---off-0cdl--00-0----0-10-0---0---0direct-10---4-------0-1l--11-en-50---20-about---00-0-1-00-0--4----0-0-11-10-0utfZz-8-00&cl=CL2.23&d=HASH01cb2fc368ffd98e1043be49.7.6&gt=1"> 
 Survey by New Zealand Digital Library.
 </a>
   </li>
   
   <li> <a link href="http://www.mumbaidp24seven.in/reference/Document1122200890_1991541.doc">  
 Research Paper by Sanjay Rode.
 </a>
   </li>
   
   <li> <a link href="http://www.bcpt.org.in/articles/watersupply.pdf">  
   Research Paper by Dr.Nita Mukherjee
 </a>
   </li>
   
 </ul>
 </div>
{% endblock content %}

